# Versioning and metadata
.git
.gitignore

# Build dependencies
node_modules
.npm
.next

# Environment (contains sensitive data)
.env
.env.*

# Files not required for production
README.md
**/tests
**/coverage
.idea
.vscode
**/.DS_Store
/*.log 